<% @title = "APT-репозиторий" %>
      <div class="main">
        <section>
        <div>
          <h1>APT и Docker</h1>
          <p>
            Существует два способа быстро запуститься под Linux:
          </p>
            <ol>
              <li>Добавить APT-репозиторий в Debian или Ubuntu.</li>
              <li>Установить Docker image на системах, поддерживающих <a href="https://www.docker.com/">Docker</a></li>
            </ol>
          <h2>1. APT-репозиторий</h2>
  	    <p>
  	    Мы предоставляем APT-репозиторий для пользователей Debian и Ubuntu (только bitcoind и только для 64-битных процессоров). Чтобы использовать его, следуйте нижеприведённой инструкции. Запускайте все команды из-под root.
        </p>

        <p>Во-первых, импортируйте PGP-ключ, используемый для подписи пакетов:</p>

        <pre><code># cat &lt;&lt;EOF | apt-key add -
-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: GPGTools - https://gpgtools.org

mQINBFXPTUoBEADLYhZu9ZrtkAZog8dis59Cx+6CqAZhQBmMQPvUZ9+9NKxa7Jt4
idZT1q+2FYmbl8hhUjtkAMW0zSrTrkTBUBjsi3mak6Ormdh1L6rApaSPY+jlizON
IkoDyNf3BPEv4ccPhQi3AGXNyytgVhSIBu8kJAkrLCHMjMwA14WgM+Z7GljLCRIc
IyBIpSG0gZYs5Uq3BoZzRytspRPTsIp/+wvyX+YsxlXXOg/vzcjwiCqVVEfMVfLq
Ro8KXmnS1w2a9lBdK7M1RpftqJ3RUhbsywkyUakNdN17iUKbvGjc2OzmH+v5W/rw
DT9o0ayJ7Oa9ufsSUKq10Ylt4obVK167gXZ8yQ/nICjev7Fqc/L97D0L4fetj1K2
BNqD02iodhunK3BTDREGrUjmUL5CR5lyBlSu8GgIMeU7XyoCoJPgNa50zDCh8U+U
SK0yfNx2kGv/6UwXe9VhFDouCLhk7ca3r8ELnnUEBPxHYtV3nGBcGrfm+1Hy5wlM
Sx18LqjaP7No71TU9ZoYoKEyeoDv8ckTSfsrr5WAcDHID4vYhxIdt5tVKqxLKhn3
sOTM5rwNJ32anwZnX19HNJX7GFEe7vw7hGiyiKnckCUSh0w5WVr1wptPzS1gaMcZ
pl6IRL8ibxJ1co9lAKG3+nqF+Lkwwgvh9P75ZnPRMWQja9xnXaUJ7xWtFQARAQAB
tDlCaXRjb2luIFhUIFNpZ25pbmcgQXV0aG9yaXR5IDxzaWduaW5nQGJpdGNvaW54
dC5zb2Z0d2FyZT6JAjcEEwEKACEFAlXPTUoCGwMFCwkIBwMFFQoJCAsFFgIDAQAC
HgECF4AACgkQOZxuTpe2lWvMwhAAt+JvmZOZCL0QH9Lhk+M08Nl6TyxIf53B/dK9
mFdsUKnwoWlrJ1r46tCps10Air3IeKhNUvIPXvbuV1cQ5mVleQKOSj2Hg0TvaePU
z/sLdyjUXRCOTEY/hr96YMR7SmTRa38b+4FYY/Oz5vDaOVZrOmf7x+sGd8IUdUxX
YoFot/gliL1MR6/gaoGrL7iXsw8ZnWEWGLEx5KMOF7VLffPAsmMr7dqTpXx12xXa
wqYn6S8raOFqAteOoDdZwSjiHQEivKM90KiZb5KsyEe9iso3I2PYWUcEgnuJL5rt
z020KtGGyBwfT4NhWBC8RR5GRypTGyOkpnrpVDzArAKCL3u4t89SAh3TnC3E8mza
3RXyFcucuw20/Dxj66imUtqcORVQr5QAtColQghZKKwK2WeJ3MlmK1UnjIipGNji
imOmktl3e2P+2nHwPmRp8T3edYsIY0UnEtBtuShYQF2NGJ/Z18QzaBJ1nfdblnr9
O+2vVJENRITpDR5rfTgVEHfRR6WL39xcJuMvITZP9dvGy1MRRrFAIrR+VtAv5QEe
Z92trWqkeURZ4MnGNUnCow8rFR7dktOfOIykLSeqjCwMs8sR/qoRBaVIWXArinAj
TdTaPwul1eVlRmq/tRI5j6xbEkidkq38vWgSlOh2PjH1FVy0zGnDwdlSHN1sNk9g
cnMXk0U=
=zxQ5
-----END PGP PUBLIC KEY BLOCK-----
EOF</code></pre>

        <p>Fingerprint ключа: FB2C 2916 3890 E919 6434  BEFE 399C 6E4E 97B6 956B.</p>

        <p>Затем сконфигурируйте APT, запустив следующие команды (под root):</p>

        <pre><code># echo 'deb [ arch=amd64 ] http://bitcoinxt.software.s3-website-us-west-2.amazonaws.com/apt wheezy main' &gt; /etc/apt/sources.list.d/bitcoinxt.list
# apt-get update</code></pre>

        <p>И установите:</p>

        <pre><code># apt-get install bitcoinxt</code></pre>

        <p>
        Обратите внимание, что бинарный файл сервера называется "bitcoinxtd" в этом пакете, не bitcoind.
        Начиная с 0.11B мы добавили Systemd init программы для того чтобы узел стартовал и автоматически
        перезапускался если вы перезагружаетесь.</br>
        Systemd bitcoinxtd.service регистрирует daemon разработанный под XT для автозапуска. Также
        установлен исполнительный файл bitcoinxt-CLI , который позволяет общаться с
        работающим daemon
        </p>

        <h2>2. Docker Image</h2>

        <p>
        Существует docker image от стороннего разрабочика 5an1ty, расположенный на dockerhub:
        <a href="https://hub.docker.com/r/5an1ty/bitcoinxt/">5an1ty/bitcoinxt</a>
        </p>
        <p>
          Это позволит вам запустить ноду в течение нескольких секунд. Всё, что вам нужно - система, которая может запускать <a href="https://www.docker.com/">docker</a>.
        </p>

        </div>
        </section>
      </div>
