<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %> - BitcoinXT</title>
    <meta name="keywords" content="bitcoin, bitcoin xt, bitcoin core, block size, blocks, limit, mining, network, vision, principles, source" />
    <meta name="author" content="curvestudio" />
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <link rel="stylesheet" href="/stylesheets/component.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://bitcoinxt.software/javascripts/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container" id="sec-top">    
      <header role="banner">
        <div class="cbp-af-header cbp-af-header-ru cbp-af-header-shrink">
          <div class="cbp-af-inner">
            <!-- <h1><a href="/"><%#= image "bitcoin-logo" %></a></h1> -->
            <div class="logo">
              <a href="/ru/" title="Bitcoin XT"><%= image "bitcoin-logo", {"alt" => "Bitcoin XT"} %></a>
            </div>
            <nav class="pd-b">
              <a href="/ru/" title="Welcome">Добро пожаловать</a>
              <a href="#sec-hardfork" title="Большие&nbsp;блоки">Большие&nbsp;блоки</a>
              <a href="onboard.html" title="Кто нас поддерживает">Кто&nbsp;поддерживает</a>
              <a href="patches.html" title="Патчи">Патчи</a>
              <a href="faq.html" title="Часто задаваемые вопросы">FAQ</a>
              <a href="#sec-takepart" title="Примите&nbsp;участие">Примите&nbsp;участие</a>
            </nav>
          </div>
        </div>
      </header>  
      <section role="main">
        <article>
            <%= yield %>
        </article>
      </section>
      <footer>
<!--        <small>
          <p>
            BitcoinXt is set to revolutionize the market. Expect a broader adaption
            for crypto currency from this point forward. We welcome your support!
            <br><br>
            Questions? <a href="/">Reach out for more information.</a></p>
        </small> -->
      </footer>
    </div>
  </body>
</html>
