      <div class="main">
        <section>
        <div>
  	    <p>
  	    There is a third party docker image created by 5an1ty hosted on dockerhub:
        <a href="https://hub.docker.com/r/5an1ty/bitcoinxt/">5an1ty/bitcoinxt</a>
        </p>
        <p>
          This allows you to get a node up and running in seconds. All you need is a machine capable of running <a href="https://www.docker.com/">docker</a>.
        </p>
        </div>
        </section>
      </div>
