<div class="main">
    <section>
    <div class="white">
      <h2>FAQ</h2>

      <ul>
      <li>Why did the Bitcoin XT fork happen?</li>
      <li>Who is involved with the project?</li>
      <li>How does the hard fork to 8 megabyte blocks work?</li>
      
      </ul>
    </div>
    </section>
</div>