@import "compass";

// Reversed?
$reversed-text: false;
@import "modules/utility";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

// Base Font
$base-font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
$base-font-size: 110%;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: 'Lato', Calibri, Arial, sans-serif;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Text Colors
$text-color: #47a3da; /*bright blue*/
$bright_chartreusse: #e9e516;
$loud-color: strengthen($text-color, .35);
$quiet-color: soften($text-color, 1.5);
$header-color: strengthen($text-color, 0.66);
$gray: #B2B7CA;
//$paragraph-color: strengthen($gray, .25);
$paragraph-color: $text-color;


// Theme Colors
$background-color: white;
//
$background-color-accent: #C6C6C6;
$banner-color: #fff;
$orange: #ef7220;
$light-blue: #87cef8;
$dusty-blue: #BCCFDC;
$light-gray: rgba(198, 198, 197, 0.73);

// Link Colors - oranges
$link-color: #e76a00; /*#F59C09;*/
$link-visited-color: soften($link-color, .25);
$link-hover-color: strengthen($link-color, .20);


// Gray on White
$link-color-muted: #D3D3D3;
$link-visited-color-muted: strengthen($link-color-muted, 0.46);
$link-hover-color-muted: strengthen($link-color-muted, 0.66);;


// Paragraphs
$indented-paragraphs: false;

// Layout
$body-margin-x: 0%;

.center {
	text-align: center;
}

/*padding styles*/
.pd-top-1 {
	padding-top: 1em;
}

.pd-top-2 {
	padding-top: 2em;
}

.pd-top-3 {
	padding-top: 3em;
}

.pd-top-4 {
	padding-top: 3em;
}

.pd-top-5 {
	padding-top: 3em;
}

.pd-bottom-1 {
	padding-top: 1em;
}

.pd-bottom-2 {
	padding-top: 2em;
}

.pd-bottom-3 {
	padding-top: 3em;
}

.pd-bottom-4 {
	margin-bottom: 3em;
}

.pd-bottom-5 {
	margin-bottom: 3em;
}

.mg-btm-05 {
	margin-bottom: .5em;
}

.mg-btm-1 {
	margin-bottom: 1em;
}

.mg-btm-2 {
	margin-bottom: 2em;
}

.mg-btm-3 {
	margin-bottom: 3em;
}

.mg-btm-4 {
	margin-bottom: 3em;
}

.mg-btm-5 {
	margin-bottom: 3em;
}

.container {
	position: relative;
	margin-top: 6em;
}

.container > section > article > .main section > div {
	width: 80%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2em 1.875em 2em 1.875em;
	/*background: rgba(198, 198, 197, 0.7);*/
}


.container > section > article > .main section > div.white {
	width: 80%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2em 1.875em 2em 1.875em;
	background: #fff;
}

.main > section:nth-child(even) {
	background: #EFF3FF;
}

.main section:first-child > div {
	padding-top: 0em;
}

.main section p {
	margin: 0;
	padding: .5em 0;
	line-height: 1.75;
}

.main section p.first {
	margin: 0;
	padding: .5em 0;
	line-height: 2.5;
}

.main section p.highlights {
	text-align: center;
    padding: 0px 13%;
    color: white;
}

section.anchor { padding-top: 123px; margin-top: -50px; }

#releases-page-links > .muted_link {
	color: $link-color-muted;
}

#releases-page-links > .muted_link:hover, #releases-page > .muted_link:focus, #releases-page > .muted_link:active {
	color: $link-hover-color-muted;
}

@media screen and (max-width: 55em) {
	.main section p {
		font-size: 1em;
	}
	.container > section > article > .main section#sec-hardfork {
	   padding-top: 123px; 
	   margin-top: -50px
	}
	.container > section > article > .main section#sec-takepart {
	   padding-top: 123px; 
	   margin-top: -50px
	}

}


@media screen and (max-width: 32.25em) {
	
	.container {
	    position: relative;
	    margin-top: 4em;
	}
	.container > section > article > .main section#sec-hardfork {
	   padding-top: 83px; 
	}
	.container > section > article > .main section#sec-takepart {
	   padding-top: 83px; 
	}
	
}

@media screen and (max-width: 24em) {
	.container > section > article > .main section > div {
    	width: 85%;
    	max-width: inherit;
    	margin: 0 auto;
    	padding: 2em 0em 4em 0em;
	}
	.main section p {
		padding: .5em 0;
	}
	.container > section > article > .main > section#sec-hardfork {
		/*padding-top: 4.875em;*/
	}
	.typography h2, .content h2, section > .main > article h2 {
		margin: 1.75em 0 .45em 0 !important; 
	}
	.typography li, .content li, section > .main > article li {
		//font-size: 70%;
  		line-height: 1.75em;
  		color: $paragraph-color;
	}
}

// Border Radius
$default-border-radius: 8px;

@import "modules/all";

@include global-reset;
@include reset-html5;

body { background: $background-color; }
body { @include base-font; }