@mixin basic-link($color: $link-color, $visited: $color, $hover: $color, $decoration: "plain") {
  &:link { 
    color: $color;
    @if $decoration == "underline" { text-decoration: underline; }
    @if $decoration == "plain"     { text-decoration: none; }
  }
  &:visited {
    color: $visited;
  }
  &:hover {
    color: $hover;
    @if $decoration == "underline" { text-decoration: underline; }
    @if $decoration == "plain"     { text-decoration: underline; }
  }
}