@mixin basic-link($color: $link-color, $visited: $color, $hover: $color, $decoration: "plain") {
  &:link {
    color: $color;
    @if $decoration == "underline" { text-decoration: underline; cursor: pointer; }
    @if $decoration == "plain"     { text-decoration: none; cursor: pointer; }
  }
  &:visited {
    color: $visited;
  }
  &:hover {
    color: $hover;
    @if $decoration == "underline" { text-decoration: underline; cursor: pointer; }
    @if $decoration == "plain"     { text-decoration: underline; cursor: pointer; }
  }
}