---
layout: "base"
title: index.title
description: index.description

# This is a workaround to duplicate welcome.html into index.html
---
      <div class="main">
        <section>
        <div>
        <div class="main-icons">
          <div>
            <h2><i class="fa fa-signal fa-2x"></i>{% t index.header.scalingicon %}</h2>
          </div>
          <div>
            <h2><i class="fa fa-user fa-2x"></i>{% t index.header.usersicon %}</h2>
          </div>
          <div>
            <h2><i class="fa fa-thumbs-o-up fa-2x"></i>{% t index.header.communityicon %}</h2>
          </div>
        </div>
        <p>{% t index.header.info %}</p>

        <div id="download">
            <a id="download-link" href="https://github.com/bitcoinxt/bitcoinxt/releases/latest" class="myButton mg-btm-05" title="{% t index.header.download.title %}"><i class="fa fa-download fa-1x"></i>{% t index.header.download.title %}</a>
            <div id="releases-page-links">
            <a href="{{ site.baseurl }}/apt.html" title="{% t index.header.download.aptrepo %}">{% t index.header.download.aptrepo %}</a>&nbsp;&mdash;&nbsp;<a href="apt.html" title="{% t index.header.download.dockerimg %}">{% t index.header.download.dockerimg %}</a>
            </div>
        </div>

        </div>
        </section>

        <section>
        <div>

        <h2 id="sec-manifesto"><i class="fa fa-compass fa-2x"></i>{% t index.whatwestandfor.title %}</h2>

        <p>{% t index.whatwestandfor.missionstatement %}</p>

        <ul>
          <li>{% t index.whatwestandfor.scaling %}</li>

          <li>{% t index.whatwestandfor.provideinfo %}
          <li class="sublist"><ul>
            <li>{% t index.whatwestandfor.zeroconf %}</li>
            <li>{% t index.whatwestandfor.lightwallet %}</li>
          </ul></li>

          <li>{% t index.whatwestandfor.decisionmaking %}</li>

          <li>{% t index.whatwestandfor.professionalism %}</li>
        </ul>


          </div>
        </section>

        <section>
        <div>

        <h2 id="sec-hardfork"><i class="fa fa-gg fa-2x"></i>{% t index.blocksize.title %}</h2>

        <p>{% t index.blocksize.history %}</p>

        <p>{% t index.blocksize.raise %}</p>

        <ul>
            <li>{% t index.blocksize.links.gavin %}</li>
            <li>{% t index.blocksize.links.mike %}</li>
        </ul>

        </div>
        </section>

        <section>
        <div>

        <h2 id="sec-miners"><i class="fa fa-cube fa-2x"></i>{% t index.miners.title %}</h2>

        <p>{% t index.miners.vote %}</p>

        <p>{% t index.miners.softlimit %}</p>

        <p>{% t index.miners.nosegwit %}</p>

        </div>
        </section>

        <section>
        <div>

        <h2 id="sec-users"><i class="fa fa-users fa-2x"></i>{% t index.users.title %}</h2>

        <p>{% t index.users.norisks %}</p>

        <p>{% t index.users.doublespend %}</p>

        </div>
        </section>


        <section>
        <div>

        <h2 id="sec-takepart"><i class="fa fa-comments fa-2x"></i>{% t index.takepart.title %}</h2>

        <p>{% t index.takepart.contact %}</p>

        <ul>
            <li>{% t index.takepart.topics.patches %}</li>
            <li>{% t index.takepart.topics.configuration %}</li>
            <li>{% t index.takepart.topics.ideas %}</li>
        </ul>

        <p>{% t index.takepart.polite %}</p>

        <p>{% t index.takepart.subscribe %}</p>

        </div>
        </section>
      </div>
